#
# ~/.bash_profile
#

if [[ ":$PATH:" != *":$HOME/bin:"* ]]; then
	export PATH=$HOME/bin:$PATH
fi

{{- if has "chesscom" .tags }}
if [[ ":$PATH:" != *":/opt/homebrew/bin:"* ]]; then
	export PATH=/opt/homebrew/bin:$PATH
fi

if [[ ":$PATH:" != *":$HOME/.local/bin:"* ]]; then
	export PATH=$HOME/.local/bin:$PATH
fi

if [ -f '/Users/jpnance/Downloads/google-cloud-sdk/path.bash.inc' ]; then
	. '/Users/jpnance/Downloads/google-cloud-sdk/path.bash.inc'
fi

if [ -f '/Users/jpnance/Downloads/google-cloud-sdk/completion.bash.inc' ]; then
	. '/Users/jpnance/Downloads/google-cloud-sdk/completion.bash.inc'
fi

export MULTI_REPO_ROOT="/Users/jpnance/Workspace"
{{- end }}

[[ -f ~/.bashrc ]] && . ~/.bashrc
