[user]
	email = jpnance@gmail.com
	name = Patrick Nance

[init]
	defaultBranch = main

[alias]
	hardpull = !git fetch origin && git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)

{{ if has "chesscom" .tags -}}
[includeIf "hasconfig:remote.*.url:git@github.com:ChessCom/**"]
	path = ~/.config/git/work
{{ end -}}
